{% extends 'SMChatBundle:layout:layout.html.twig' %}
{% block body %}
    <iframe width="560" height="315" src="//www.youtube.com/embed/A-y1N29vH2Y" frameborder="0" allowfullscreen></iframe>
    <h1>{{ model.username }}</h1>
    <p>{{ model.age }}</p>
    <div id="tipJarOptions">
        <h2>Tip!</h2>
    {% for option in tip_jar_options %}
        <button data-amount="{{ option }}" data-modelid="{{ model.id }}">{{ option }}</button>
    {% endfor %}
    </div>
    <script src="//static.opentok.com/webrtc/v2.2/js/opentok.min.js"></script>
    <script type="text/javascript">
        var apiKey    = "44783462";
        var sessionId = "{{ model.activeStreamSessionId }}";
        var token     = "{{ model.activeStreamToken }}";

        var session = OT.initSession(apiKey, sessionId);

        session.on("streamCreated", function(event) {
            session.subscribe(event.stream);
        });

        session.connect(token, function (error) {
            if(error) {
                // failed to connect
            }
        });
    </script>
    {% javascripts '@SMWalletBundle/Resources/public/js/*' output='js/compiled/main.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        TipJar.init(document.getElementById('tipJarOptions'));
    </script>
{% endblock %}